<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SkinName</key>
		<string>Default</string>
		<key>SkinID</key>
		<string>m3</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>纸飞机</string>
		<key>SkinID</key>
		<string>m9</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>输入法默认皮肤</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>刘看山-喂鸟</string>
		<key>SkinID</key>
		<string>513903</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>简约灰2</string>
		<key>SkinID</key>
		<string>m5</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>简约灰</string>
		<key>SkinID</key>
		<string>m4</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>简约黑2</string>
		<key>SkinID</key>
		<string>m8</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>简约黑</string>
		<key>SkinID</key>
		<string>m7</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>简约白</string>
		<key>SkinID</key>
		<string>m6</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>记事本</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>冰晶蓝</string>
		<key>SkinID</key>
		<string>m2</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>奥尔沃克斯岛的霸王花</string>
		<key>SkinID</key>
		<string>507127</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506957</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507007</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>513906</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507000</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507166</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>444763</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506679</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507005</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507187</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>440258</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>456200</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507185</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506545</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507197</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506815</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506425</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506208</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506402</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506827</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>454585</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507165</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>441808</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506543</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506609</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>436774</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>456182</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506501</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506723</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507063</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>505951</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507163</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507004</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>468458</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506780</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506349</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506603</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>440882</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507003</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507019</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506444</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>441048</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>441063</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>454236</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>425680</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>506677</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>428166</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string></string>
		<key>SkinID</key>
		<string>507127</string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Tangerine</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Graphite</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Boundary</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Matrix</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Tron</string>
		<key>SkinID</key>
		<string></string>
	</dict>
	<dict>
		<key>SkinName</key>
		<string>Carbon</string>
		<key>SkinID</key>
		<string></string>
	</dict>
</array>
</plist>
